<center><h1 style=" color: white;">Reset Password</h1>

  <%= form_tag password_resets_path, :method => :post do %>
   <div class='field' style=" color: white;">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
   </div><br>
   <div class='actions'>
    <%= submit_tag "Reset Password" %>
   </div>
<% end %>
</center>